
//
// VARIABLES
//
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Space+Mono&display=swap');

// Colors
$blue: #2d6aa7;

// Grays
$black: #000;
$borderGray: #353535;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #cfcfcf;
$white: #fff;
$cyberBlue: #4389c2;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;
$audioWide: "Audiowide", cursive;
$spaceMono:"'Space Mono", monospace;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}